body {
    font-family: Arial, sans-serif;
}

footer {
    background-color: #555555;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-item {
    flex: 1;
    margin: 0 10px;
}

h2 {
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

address {
    font-style: normal;
}

.social {
    background-color: ;
}

.utilities {
    background-color: ;
}

.partnership {
    background-color: ;
}

.contact {
    background-color: ;
}
