* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.input-row {
    margin-bottom: 10px;
    float: left;
}

.input-container {
    margin: 10px;
    display: flex;
    align-items: center;
}
.titel-container{
    margin: 10px 0;
    display: flex;
    align-items: center; 

}

.description-container {
    width: 1000px;
    height: 100px;
    font-size: 18px;
    font-weight: 800;
    outline: navy;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 10px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;

}

.description-container input {
    font-size: 18px;
    font-weight: 800;
    outline: none;
    padding: 10px;
    border: none;
}

.input-container select[name=place],
.input-container input[type=date],
.input-container input[type=number],
.input-container input[type=text] {
    width: 100%;
    max-width: 400px;
    height: 50px;
    font-size: 18px;
    font-weight: 800;
    outline: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#Review-Titel {
    max-width: 400px;
    height: 30px;
    font-size: 18px;
    font-weight: 800;
    flex-direction: column;
    outline: none;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 10px;
}

.reivew-content {
    width: 1000px;
    height: 500px;
    font-size: 18px;
    font-weight: 800;
    outline: navy;
    padding: 20px;
    margin: 10px;
    border: 3px solid #ccc;
    border-radius: 10px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
}

.reivew-content input[type="text"] {
    font-size: 18px;
    font-weight: 800;
    outline: none;
    padding: 10px;
    border: none;
}

.submit-container{
    width: 100%;
    height: 50px;
    position: sticky;
    bottom: 0;
    padding: 5px;
    background-color: LightGoldenrodYellow;
    border: 2px solid #F61110;;
    justify-content: center; 
    display: flex;
}
button{
    height: 35px;
    position: sticky;
    padding: 10px 20px; 
    margin-right: 10px;
    border: none ;
    border-radius: 5px;
    font-size: larger ;
    color:#333;
}
button:hover{
    background-color: gray;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
}
/*////////////*/
.logo-menu{
    width: 20px;
    height: auto;
    display: block ;

}
.header{
    margin-top: -15px;
    height: 75px;
    background-color:#292826;
  
}

.header-list{
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    justify-content:space-between;
    display: flex;
   
}

.logo{
    display: inline;
    margin-left: -20px ;
    font-family: 'Varela Round', sans-serif;
}

.header-item{
    display:inline-block;
    font-size: 1.5rem;
    flex-grow: 1; 
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    color:#221D1D;
    font-family: 'Varela Round', sans-serif;
    margin-top: auto;
    
} 
.menu-right{
   margin-right: -45px;
}
.menu-right-item{
    margin: 25px 3.5px 0px 3.5px ;
}
a{
    text-decoration: none;
}
.search-input{
    width: 150px;
    height: 20px;
    margin-left: -140px;
    margin-bottom: 5px;
    
}
.header-item a{
    color:white;
}

.footer{
    float:left;
    width: 100%;
    background-color:#F9D342 ;
    margin-top: 40px;
    height: 25%;
}
.nav-item{
    list-style-type: none;
    flex-basis: 50%;
}
.text-footer{
    list-style-type: none;
    flex-basis: 50%;
    width: 100%;
}
.center{
    width: 50%;
    margin: auto;
}
.footer-right{

    float: right;
    width: 55%;
    margin-right: -93px;

}
.footer-left{
    width: 60%;
    float: left;
    margin-left: -164px;
}
.text-footer a{
    color: black;
    font-family: 'Noto Sans', sans-serif;
}
.nav-item{
    display: inline;
}